FakeSteam/build/
FakeSteamGit/build/
.classpath
FakeSteam/src/dao/dao.properties
FakeSteamGit/src/dao/dao.properties
.project
.tern-project
.settings
FakeSteam/bin/
FakeSteamGit/bin/
*.swp
lib/
.metadata
.recommenders