<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  	<display-name>FakeSteam</display-name>
  	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
 	 </welcome-file-list>
  

  	 <!--   servlet  -->

   	 <listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
		</listener-class>
 	 </listener>
  
 	<servlet>
		<servlet-name>add game</servlet-name>
		<servlet-class>servlets.FormGame</servlet-class>
 	</servlet>
  	<servlet-mapping>
		<servlet-name>add game</servlet-name>
		<url-pattern>/addGame</url-pattern>
 	 </servlet-mapping>
  
 	 <servlet>
		<servlet-name>add user</servlet-name>
		<servlet-class>servlets.FormUser</servlet-class>
 	 </servlet>
  	<servlet-mapping>
		<servlet-name>add user</servlet-name>
		<url-pattern>/addUser</url-pattern>
  	</servlet-mapping>
	
	 <servlet>
		<servlet-name>log user</servlet-name>
		<servlet-class>servlets.FormLogUser</servlet-class>
 	 </servlet>
  	<servlet-mapping>
		<servlet-name>log user</servlet-name>
		<url-pattern>/logUser</url-pattern>
  	</servlet-mapping>

	<servlet>
		<servlet-name>add rating</servlet-name>
		<servlet-class>servlets.FormRating</servlet-class>
 	 </servlet>
  	<servlet-mapping>
		<servlet-name>add rating</servlet-name>
		<url-pattern>/addRating</url-pattern>
  	</servlet-mapping>

	<!-- <servlet>
		<servlet-name>add comment</servlet-name>
		<servlet-class>servlets.FormComment</servlet-class>
 	 </servlet>
  	<servlet-mapping>
		<servlet-name>add comment</servlet-name>
		<url-pattern>/addComment</url-pattern>
  	</servlet-mapping> -->


  <!--  Client -->
  	 <servlet>
		<servlet-name>get Games</servlet-name>
		<servlet-class>client.GetInfos</servlet-class>
 	 </servlet>
  	<servlet-mapping>
		<servlet-name>get Games</servlet-name>
		<url-pattern>/getAllGames</url-pattern>
  	</servlet-mapping>
  
  <!--   Resteasy  -->

  	<servlet> 
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
 	</servlet>
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
			<param-name>resteasy.servlet.mapping.prefix</param-name>
			<param-value>/rest</param-value>
	</context-param>
	
	

	 <!--   Faces Servlet  -->
	

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
  
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
		<url-pattern>*.jsf</url-pattern>
		<url-pattern>*.xhtml</url-pattern>	
	</servlet-mapping>
	  
	<context-param>
			<description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
			<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
			<param-value>client</param-value>
    </context-param>
	<context-param>
			<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
			<param-value>resources.application</param-value>
	</context-param>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>


</web-app>
